<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav class="navbar navbar-light bg-light">
    <a href=<%= root_path %> class="navbar-brand">Navbar</a>
    <div class="navbar-lewagon">
      <%# <a href="#" class="navbar-link">My lists</a> %>
      <a href=<%= new_list_path %> class="navbar-link">New List</a>
    </div>
  </nav>
    <%= yield %>
  </body>
</html>
